<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0e9d74fe-17e8-456f-a6e2-bd7602010688/resourceGroups/web-routing-aks/providers/Microsoft.ContainerRegistry/registries/aksrrpoc</ResourceId>
    <ResourceName>aksrrpoc</ResourceName>
    <ResourceGroup>web-routing-aks</ResourceGroup>
    <Subscription>MCAPS-Hybrid-REQ-44945-2022-renribeiro</Subscription>
    <RegistryUrl>https://aksrrpoc.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8e1369be-ca76-4e91-84a7-34af0c748b99</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>